html {
	height: 100%;
	overflow: hidden;
}

body {
	height: inherit;
	background-image: url("./images/ep_naturalblack.png");
	background-color: black;
}

#body-container {
	height: inherit;
}

#body-container > .row {
	height: inherit;
}

#canvas {
	height: 100%;
	width: 100%;
	background-color: white;
}

#pallette {
	height: 175px;
	padding: 0;
	background-color: white;

}

#red, #blue, #green {
	height: 200px;
	text-align: center;
	padding: 0;

	display: inline-block;
}

#red:hover, #blue:hover, #green:hover {
	cursor: pointer;
}

#red {
	background-color: red;
}

#blue {
	background-color: blue;
}

#green {
	background-color: green;
}