html {
	height: 100%;
	overflow: hidden;
}

body {
	height: inherit;
	background-image: url("./images/ep_naturalblack.png");
	background-color: black;
}

#body-container {
	height: inherit;
}

#body-container > .row {
	height: inherit;
}

#canvas {
	height: 100%;
	width: 100%;
	background-color: white;
}

#pallette {
	height: 100px;

	background-color: white;

}